@{ ViewBag.Title = "Sifremi Unuttum"; }

<style type="text/css">
    .g-recaptcha {
        margin: 15px 0 15px 0;
    }

    @@media (max-width: 767px) {

        #unuttumForm {
            padding: 0 !important;
        }
    }
</style>

<div class="col-md-4 offset-md-4">

    <h4><i>Şifremi</i> <b> Unuttum</b></h4>
    <hr />
    @using (Html.BeginForm("ForgotPassword", "Auth", FormMethod.Post, new { role = "form", id = "unuttumForm", name = "unuttumForm" }))
    {
        <label for="email"></label>
        <div class="form-group">
            <input class="form-control" name="email" id="email" type="email" placeholder="E-mail adresi girin" required aria-describedby="eposta" />
            <span name="email" class="text-danger"></span>
        </div>

        <div class="editor-field">
            <div class="g-recaptcha" id="robotEngel" data-sitekey="6Ld19hITAAAAADJu-IVE9REMCBYH2xBUTb6WTyJX">
            </div>
        </div>
        <button type="submit" class="form-control btn-success" id="gonder" name="gonder">Gönder</button>}
    <div class="clearfix"></div>
</div>

@section scripts{
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
var verifyCallback = function (response) {
        alert(response);
    };
    var onloadCallback = function () {
        grecaptcha.render('robotEngel', {
            'sitekey': '6Ld19hITAAAAADJu-IVE9REMCBYH2xBUTb6WTyJX',
            'callback': verifyCallback(),
            'theme': 'light'
        });
    };</script>