@{
 ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutMimarSoft.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome Brader</h1>
    <p>Merhaba! Başer Mekine Cam Balkon Hesaplama <a href="~/">Sistemlerine</a> Hoşgeldiniz!.</p>
</div>