@{ ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutMimarSoft.cshtml"; }

<div class="text-center">
    <h1 class="display-4">Welcome Brader</h1>
    <p>Learn about <a href="https://localhost:5001/FactoryAdmin/UserRoles">Admin</a>.</p>
</div>