@using Microsoft.AspNetCore.Http.Features

@{ var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie(); }

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        Deneyimlerinizi kişiselleştirmek amacıyla KVKK ve GDPR uyarınca kullanılan çerezler bakımından kişisel tercihlerinizi Çerez Onay Aracından yönetebilir, daha fazla bilgi için Veri ve Çerez Politikasını ziyaret edebilirsiniz. Sitemizi kullanarak, çerezleri kullanmamızı kabul edersiniz.Veri ve Çerez Politikası. <a asp-page="/Privacy">Daha fazla bilgi edin</a>.
        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Kabul ediyorum</span>
        </button>
    </div>
    <script>
(function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();</script>
}